.App {
  text-align: center;
}

.btn {
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  color: white;
  font-weight: 700;
}

.add-btn{
  background-color: yellowgreen;
}

.del-btn{
  background-color: crimson;
}